.dashboard__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.dashboard__container__top {
  display: flex;
  justify-content: space-between;
  max-height: fit-content;
  margin-bottom: 1em;
}
.statistics__card {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-right: 1em;
  border-radius: 10px;
  cursor: pointer;
}
.statistics__card:last-child {
  margin-right: 0em;
}
.statistics__card__top {
  display: flex;
  padding: 0em 2em;
  padding-top: 1em;
  align-items: center;
}
.statistics__card__top__avatar {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 1em;
}
.statistics__card__top__content {
  flex: 1;
}
.statistics__card__top__content__top {
  font-size: 22px;
  color: black;
}
.statistics__card__top__content__bottom {
  font-size: 12px;
  color: #7c828a;
}
.statistics__card__bottom {
  width: 100%;
  height: 50px;
}
.statistics__card:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.dashboard__container__middle {
  width: 100%;
  height: 350px;
  display: flex;
  margin-bottom: 1em;
}
.user__by__card {
  background-color: white;
  width: 60%;
  margin-right: 1em;
  padding: 1.2em 1.5em;
  border-radius: 10px;
  display: flex;
}
.user__by__card__right {
  width: 50%;
}
.user__by__card__left {
  display: flex;
  flex-direction: column;
}
.user__by__card__left__heading {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5em;
}
.user__by__card__left__info {
  font-size: 14px;
  color: #7c828a;
  margin-bottom: 0.5em;
}
.user__by__card__left__stats {
  display: flex;
  flex-direction: column;
}
.user__by__card__left__stats__entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}
.user__by__card__left__stats__entry__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.user__by__card__left__stats__entry__header__heading {
  font-size: 14px;
  color: #7c828a;
}
.user__by__card__left__stats__entry__header__value {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
.user__by__card__left__stats__entry__bar {
  min-width: 100%;
  height: 10px;
  background-color: #eeeeee;
  border-radius: 50px;
  position: relative;
  animation: 5s user__by__card__left__stats__entry__bar;
}
.user__by__card__left__stats__entry__bar__filled {
  background-color: #7c828a;
  height: 10px;
  position: absolute;
  border-radius: 50px;
  animation: 3s user__by__card__left__stats__entry__bar__filled;
}
@keyframes user__by__card__left__stats__entry__bar {
  from {
    min-width: 0px;
  }
  to {
    min-width: 100%;
  }
}
@keyframes user__by__card__left__stats__entry__bar__filled {
  from {
    min-width: 0px;
  }
}
.user__statistics__card {
  background-color: white;
  width: 40%;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.user__statistics__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding: 0em 1em;
}
.user__statistics__card__header__heading {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.user__statistics__card__header__date {
  font-size: 12px;
  color: #7c828a;
}
.user__statistics__card__content {
  display: flex;
}
.user__statistics__card__content__left {
  width: 50%;
  height: 250px;
}
.user__statistics__card__content__right {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
}
.user__statistics__card__content__right__from {
  display: flex;
  align-items: center;
  color: black;
  font-size: 13px;
  margin: 0.5em 0em;
}
.user__statistics__card__content__right__from__dot {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin-right: 0.5em;
}
.dashboard__container__bottom {
  width: 100%;
  display: flex;
}
.most__viewed__news__card {
  background-color: white;
  width: 60%;
  margin-right: 1em;
  padding: 1.2em 1.5em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.recently__added__news__card {
  background-color: white;
  width: 40%;
  padding: 1.2em 1.5em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.most__viewed__news__card__header {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5em;
}
.most__viewed__news__card__table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #7c828a;
  padding-bottom: 0.5em;
}
.most__viewed__news__card__table__header__entry {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  color: #7c828a;
}
.most__viewed__news__card__table__header__entry:first-child {
  max-width: 80px;
}
.most__viewed__news__card__table__content {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
}
.notification__panel__content::-webkit-scrollbar,
.most__viewed__news__card__table__content::-webkit-scrollbar {
  width: 5px;
}
.notification__panel__content::-webkit-scrollbar-thumb,
.most__viewed__news__card__table__content::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 50px;
}
.notification__panel__content::-webkit-scrollbar-track,
.most__viewed__news__card__table__content::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 50px;
}
.most__viewed__news__card__table__content__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
.most__viewed__news__card__table__content__list__entry {
  flex: 1;
  font-size: 14px;
  color: #7c828a;
  height: 40px;
}
.most__viewed__news__card__table__content__list__entry:first-child {
  max-width: 80px;
}
.most__viewed__news__card__table__content__list__entry__img {
  width: 40px;
  height: 40px;
}
