@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.App {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  max-height: 10vh;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__buttons__icon__btn,
.header__buttons__user__btn {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: 0em;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 0.5em;
  position: relative;
}
.header__buttons__icon__btn:hover,
.header__buttons__user__btn:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.header__buttons__user__btn img {
  width: 100%;
  height: 100%;
}
.main {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.main__container {
  display: flex;
  padding: 0em 1em;
  height: 90vh;
}
.notification__panel {
  width: 400px;
  background-color: white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 999;
  padding: 1.5em 0em;
  cursor: auto;
}
.notification__panel__header {
  padding: 0em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notification__panel__header__heading {
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.notification__panel__header__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.notification__panel__header__btn:hover {
  text-decoration: underline;
}
.notification__panel__content {
  padding: 1.5em;
  padding-bottom: 0em;
  height: 400px;
  overflow-y: auto;
}
.notification__panel__content__entry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5em;
  padding: 1em;
  background-color: white;
  border-radius: 5px;
}
.notification__panel__content__entry__heading {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-bottom: 0.3em;
}
.notification__panel__content__entry__info {
  font-size: 12px;
  color: black;
  text-align: left;
}
.notification__panel__content__entry:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.container {
  flex: 1;
  padding-left: 1em;
}
.container__heading {
  font-size: 25px;
  color: black;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__header__left,
.container__header__right {
  display: flex;
  align-items: center;
}
.container__header__right {
  justify-content: flex-end;
}
.input__box {
  background-color: white;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0em 0.5em;
  border-radius: 50px;
  margin-right: 1em;
  min-width: 120px;
  border: 1px solid white;
  width: 100%;
  margin-bottom: 1em;
}
.input__box svg {
  width: 18px;
  height: 18px;
  margin-left: 0.5em;
  fill: gray;
}
.input__box__field {
  background-color: transparent;
  height: 100%;
  flex: 1;
  padding-left: 1em;
  border: none;
  outline: none;
}
.input__box .css-b62m3t-container {
  width: 100%;
}
.input__box .css-1s2u09g-control {
  border: none;
  box-shadow: none;
  font-size: 14px;
  border-radius: 50px;
}
.input__box .css-1pahdxg-control {
  border: none;
  box-shadow: none;
  font-size: 14px;
  border-radius: 50px;
}
.input__box:hover,
.input__box:focus-within {
  border-color: #324ca1;
}
.container__header__right .input__box {
  width: 200px;
}
.container__content {
  flex: 1;
}
.container__content__table {
  display: flex;
  flex-direction: column;
}
.container__content__table__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #324ca1;
  height: 45px;
  border-radius: 50px;
  margin-bottom: 0.5em;
}
.container__content__table__header__entry {
  flex: 1;
  padding: 0em 1.2em;
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.container__content__table__content {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  overflow-y: auto;
}
.container__content__table__content__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  margin-bottom: 0.5em;
  min-height: 40px;
}
.container__content__table__content__list:nth-child(even) {
  background-color: white;
}
.container__content__table__content__list__entry {
  flex: 1;
  padding: 0em 1.2em;
  font-size: 14px;
  color: black;
}
.container__content__table__content__list__entry__pic {
  width: 30px;
  margin-left: 1em;
}
.container__content__table__content__list__entry__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0em;
}
.container__content__table__content__list__entry__btn svg {
  width: 20px;
  height: 20px;
}
.container__form {
  flex: 1;
  display: flex;
}
.container__form__left,
.container__form__right {
  flex: 1;
}
.container__form__left {
  margin-right: 2em;
}
.container__form__heading {
  font-size: 18px;
  color: black;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.container__content__table__content__list__entry__display__message {
  position: relative;
  font-size: 14px;
  text-decoration: underline;
  color: #324ca1;
  cursor: pointer;
}
.container__content__table__content__list__entry__message__detail {
  position: absolute;
  width: fit-content;
  min-width: 200px;
  height: fit-content;
  background: #fff;
  font-size: 14px;
  border-radius: 10px;
  left: -40%;
  color: #242424;
  display: none;
  z-index: 999;
  padding: 1em;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.container__content__table__content__list__entry__display__message:hover
  .container__content__table__content__list__entry__message__detail {
  display: flex;
  transition: 300ms ease-in-out;
}
