.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.login__container__form {
  width: 100%;
  padding: 1.5em;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid #324ca1;
  align-items: center;
  border-radius: 10px;
}
.login__container__form img {
  width: 120px;
  margin-bottom: 0.5em;
}
.login__container__form__input {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0em 1.2em;
  margin-bottom: 1em;
  font-size: 14px;
  outline: none;
}
.login__container__form__input:hover,
.login__container__form__input:focus {
  transition: 300ms ease-in-out;
  border-color: #324ca1;
  border-width: 2px;
}
.login__container__form__checkbox {
  width: 100%;
}
.input__box__checkbox .checkbox,
.login__container__form__checkbox .checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it
  user-select: none;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    user-select: none;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 25px;
    height: 25px;
    background: #e9e9e9;
    border-radius: 50px;
  }

  // Box hover
  &:hover + label:before {
    background: #324ca1;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #324ca1;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 12px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}
.login__container__form__btn {
  width: 100%;
  height: 40px;
  background-color: #324ca1;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}
.login__container__form__btn:hover {
  background-color: darken(#324ca1, 10%);
}
