.sidebar {
  width: 100%;
  max-width: 20%;
  min-width: 20%;
  padding: 2em 1.5em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #324ca1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1em;
}
.sidebar__links {
  display: flex;
  flex-direction: column;
}
.sidebar__link {
  position: relative;
  margin-top: 0.5em;
}
.sidebar__link__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.sidebar__link__input__1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.sidebar__link__content {
  width: 100%;
  height: 45px;
  background-color: transparent;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 1em 1.5em;
  color: white;
}
.sidebar__link__content svg {
  margin-right: 1em;
  width: 20px;
  height: 20px;
}
.sidebar__link__input:hover ~ .sidebar__link__content,
.sidebar__link__input:checked ~ .sidebar__link__content,
.sidebar__link__input__1:hover ~ .sidebar__link__content,
.sidebar__link__input__1:checked ~ .sidebar__link__content {
  transition: 300ms ease-in-out;
  background-color: #0f1f53;
}
.sidebar__link:first-child {
  margin-top: 0em;
}
.sidebar__btn {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  padding-top: 1em;
}
